html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

canvas.main {
  display: block;
}

header {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  color: white;
  padding: 20px;
  position: absolute;
  margin: 10px;
  max-width: 50%;
}

header a {
  color: white;
}

header summary {
  cursor: pointer;
}

header section {
  float: left;
  margin-right: 50px;
}

.color {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 2px;
  width: 20px;
}

.color.white { background: white; }
.color.red { background: red; }
.color.green { background: green; }
.color.blue { background: blue; }
.color.yellow { background: yellow; }
.color.magenta { background: rgb(255, 0, 255); }
.color.cyan { background: rgb(0, 255, 255); }
.color.hue {
  background: white;
  background: -moz-linear-gradient( top ,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 255, 0, 1) 15%,
      rgba(0, 255, 0, 1) 30%,
      rgba(0, 255, 255, 1) 50%,
      rgba(0, 0, 255, 1) 65%,
      rgba(255, 0, 255, 1) 80%,
      rgba(255, 0, 0, 1) 100%);
  background: -webkit-gradient(linear,  left top,  left bottom, 
      color-stop(0%, rgba(255, 0, 0, 1)), 
      color-stop(15%, rgba(255, 255, 0, 1)),
      color-stop(30%, rgba(0, 255, 0, 1)),
      color-stop(50%, rgba(0, 255, 255, 1)),
      color-stop(65%, rgba(0, 0, 255, 1)),
      color-stop(80%, rgba(255, 0, 255, 1)),
      color-stop(100%, rgba(255, 0, 0, 1)));
}

#fps {
  float: right;
  font-size: 11px;
}
